---
import "../styles/global.css";
import "@fontsource-variable/onest";
import { SidebarWrapper } from "../components/sidebar-wrapper";

import { ViewTransitions } from "astro:transitions";

interface Empresa {
    nombre: string;
    slug: string;
}

interface Props {
    title: string;
    slug: string;
    companyName: string;
    currentPage: string;
    empresas: Empresa[];
    userName: string;
    userEmail: string;
}

const { title, slug, companyName, currentPage, empresas, userName, userEmail } =
    Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={`${currentPage} - ${companyName}`} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <SidebarWrapper
            slug={slug}
            companyName={companyName}
            currentPage={currentPage}
            currentPath={currentPath}
            empresas={empresas}
            userName={userName}
            userEmail={userEmail}
            client:load
        >
            <slot />
        </SidebarWrapper>
    </body>
</html>

<style is:global>
    html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
